<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/spacelab/bootstrap.min.css" />
	<style type="text/css">
		div{background: #31B0D5;border: 1px #000000 solid;}
	</style>
	</head>
	<body>
		<div class="container">
			<h1>container</h1>
		</div>
		<div class="container-fluid">
			<h1>container-fluid</h1>
        <!--
        	作者：feixiangingk@163.com
        	时间：2018-04-19
        	描述：占满全屏
        -->
        		</div>
        		
		<div class="container">
		<div class="row">
			<div class="col-md-4">col-md-4</div>
			<div class="col-md-4">col-md-4</div>
			<div class="col-md-4">col-md-4</div>
		</div>
		<div class="row">
			<div class="col-md-6">col-md-6</div>
			<div class="col-md-6">col-md-6</div>
		</div>
	</body>
	    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>  
</html>
